{% include 'header.html' %}
<body>
    <main class="container">
        <h1>Manage Database</h1>
        <p>Logged in as: {{username}}{% if email %} ({{email}}){% endif %}</p>
        <button id="migrate-db-btn" type="button">Run DB Migrations</button>
        <pre id="migration-output"></pre>
    </main>
    <script>

        async function apiRequest(method, endpoint, payload){
            const fetched = await fetch(
                endpoint,
                {
                    headers: new Headers(
                        {
                            "Authorization": `Bearer ${sessionToken}`, 
                            'content-type': 'application/json'
                        }
                    ),
                    method: method,
                    body: JSON.stringify(payload)
                }
            )
            return await fetched.json()
        }
        let btn = document.getElementById("migrate-db-btn")

        btn.addEventListener(
            "click",
            e => {
                apiRequest(
                    "POST",
                    "/admin/api/v1/users/ban",
                    {"ids": [1, 2, 3]}
                ).then(
                    data => {
                        let output = document.getElementById("migration-output")
                        let success = data.success || !("detail" in result)
                        output.innerText = data.output || data.detail
                        output.style.color = data.success ? "green" : "red"
                    }
                )
            }
        )
    </script>
</body>
</html>
