{% include 'admin/header.html' %}
    <h1>Manage Database</h1>
    <p>Logged in as: {{username}}{% if email %} ({{email}}){% endif %}</p>
    <button id="migrate-db-btn" type="button">Run DB Migrations</button>
    <pre id="migration-output"></pre>
    <script>
        let btn = document.getElementById("migrate-db-btn")

        btn.addEventListener(
            "click",
            e => {
                apiRequest(
                    "GET",
                    "/admin/api/v1/db/migrate",
                ).then(
                    data => {
                        let output = document.getElementById("migration-output")
                        let success = data.success || !("detail" in data)
                        output.innerText = data.output || data.detail
                        output.style.color = success ? "green" : "red"
                    }
                )
            }
        )
    </script>
{% include 'admin/footer.html' %}