{% include 'header.html' %}
<div id="challenge-info" class="container">
  <div>
    <h2>{{ challenge.title }}</h2>
    <p>{{ challenge.description }}</p>
    <button>Post Your Submission</button>
  </div>
  <div id="time-info">
    <h6>Start Date: <br>{{ challenge.formatted_start }}</h6>
    <h6>End Date: <br>{{challenge.formatted_end}}</h6>
  </div>
</div>
<section id="submissions" class = "container">
  <p>{{submissions}}</p>
  <h4>Submissions</h4>
  {% for submission in challenge.submissions %}
      {% if submission.status.status != "DISAPPROVED" %}
          <div id="submission-{{submission.id}}" class="submission">
              <hgroup>
                  <img class="submission-avatar" src="{{submission.created_by.avatar}}" alt="{{submission.created_by.username}}' Avatar" />
                  <h4>{{submission.created_by.username}}</h4>
                  <h5>{{submission.formatted_created}}</h5>
              </hgroup>
              <div id="submission-{{submission.id}}-votes">
                  <span>Votes</span>
                    {% for name, votes in submission.votes.items() %}
                        <span><i class="emoji {{name}}"></i><span>{{votes|length}}x</span></span>
                    {% endfor %}
              </div>
              <p>{{submission.description}}</p>
              <a href="{{submission.link}}" role="button">Check It Out</a>
          </div>
      {% endif %}
  {% endfor %}
</section>
{%include 'footer.html' %}
