{% include 'header.html' %}
    <h1>Create Submission</h1>
    <h2>{{challenge.title}}</h2>
    <form id = "create-submission-form">
        <label for="submission-description">Description</label>
        <textarea id="submission-description" name="description" placeholder="Describe your submission!"></textarea>
        <label for="submission-link">Link</label>
        <input id="submission-link" type="url" name="link" placeholder="https://..." />
        <label for="submission-type">Type</label>
        <select id="submission-type" name="type">
            <option value="code">Code</option>
            <option value="blog">Blog Post</option>
            <option value="video">Video</option>
        </select>
        <button>Create</button>
    </form>
    <script>
        const create_challenge_form = document.getElementById("create-submission-form");
        create_challenge_form.addEventListener("submit", async e => {
            e.preventDefault();
            const formData = new FormData(e.target);
            const json_data = Object.fromEntries(formData.entries());
            const data = await apiRequest("POST", "/v1/challenges/{{challenge.id}}/submissions/create", json_data)
            location.href = `/#submission-${data.id}`
        })
    </script>
{% include 'footer.html' %}
