{% include 'header.html' %}
<body>
    <main class="container">
        <h1>Create Submission</h1>
        <h2>{{challenge.title}}</h2>
        <form id = "create-submission-form">
            <label for="submission-description">Description</label>
            <textarea id="submission-description" name="description" placeholder="Describe your submission!"></textarea>
            <label for="submission-link">Link</label>
            <input id="submission-link" type="url" name="link" placeholder="https://..." />
            <label for="submission-type">Type</label>
            <select id="submission-type" name="type">
                <option value="blog">Blog Post</option>
                <option value="video">Video</option>
                <option value="code">Code</option>
            </select>
            <button>Create</button>
        </form>
    </main>
    <script>
        const create_challenge_form = document.getElementById("create-submission-form");
        create_challenge_form.addEventListener("submit", (e) => {
            e.preventDefault();
            const data = new FormData(e.target);
            const json_data = Object.fromEntries(data.entries());
            apiRequest("POST", "/v1/challenges/{{challenge.id}}/submissions/create", json_data).then(
                data => {console.log(data)}
            )
        })
    </script>
</body>
</html>