<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% if title %}{{title}}{% else %}Summer of Code{% endif %}</title>
    <link rel="stylesheet" href="/static/styles/styles.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/alohe/emojicloud/emojicloud.css">
    {% if session_token %}
    <script>
      const sessionToken = "{{session_token}}";
    </script>
    {% endif %}
    <script src="/static/scripts.js"></script>
    <style>
      i.emoji {
        font-size: 32px;
      }
    </style>
  </head>
  <body>
    <header class="container">
      <nav class="container">
        <ul>
          <li>
            <strong>Summer Of Code</strong>
          </li>
        </ul>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/challenges">Challenges</a>
          </li>
          <li>
            <a href="/about">About Us</a>
          </li>
          {% if not user %}
          <li>
            <a href="/auth/discord/login">Log In</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main class="container">
