{% include 'header.html' %}
{% if challenge %}
    <section>
        <p>Active Challenge</p>
        <div id="challenge-info" class = "container">
            <div>
                <h2>{{ challenge.title }}</h2>
                <p>{{ challenge.description }}</p>
            </div>
            <div>
                {% for entry in leaderboard.entries %}
                    <h6>{{entry.username}}</h6>
                    <progress max = {{ leaderboard.max }} value = {{ entry.votes }} data-votes = {{ entry.votes }} class = "leaderboard-progress-bar"></progress>
                {%endfor%}
                <a href = "challenges/{{ challenge.id }}/create-submission"><button>Post Your Submission</button></a>
            </div>
        </div>
        <div id = "time-info">
            <div>
                <h1 id = "days-left"></h1>
                <h3>Days Left</h3>
            </div>
            <div id = "progress-bar-info">
                <progress id = "progress-bar" data-start = {{ challenge.start }} data-end = {{ challenge.end }}></progress>
                <div>
                    <p id = "start-date">{{ challenge.formatted_start }}</p>
                    <p id = "end-date"> {{challenge.formatted_end }}</p>
                </div>
            </div>
        </div>
    </section>

    <section id="submissions" class="container">
        <h4>Submissions</h4>
        {% for submission in challenge.submissions %}
            {% if submission.status.status != "DISAPPROVED" %}
                <div id="submission-{{submission.id}}" class="submission">
                    <div class = "left-submission">
                        <img class="submission-avatar" src="{{submission.created_by.avatar}}" alt="{{submission.created_by.username}}' Avatar" />
                    </div>
                    <div class = "right-submission">
                        <div class = "submission-top">
                            <div >
                                <h4>{{submission.created_by.username}}</h4>
                                <p>{{submission.formatted_created}}</p>
                            </div>
                            <div id="submission-{{submission.id}}-votes" style = "position: relative;">
                                <span>Votes</span>
                                <span class = "vote-box" data-submission-id="{{ submission.id }}">
                                {% for name, votes in submission.votes.items() %}
                                    {% if user and user.id != submission.created_by.id %}
                                    <a class="vote-button" href="#" data-emoji="{{name}}" data-submission-id="{{submission.id}}" data-challenge-id="{{challenge.id}}">
                                    {% endif %}
                                        <span><i class="emoji {{name}}"></i><span>{{votes|length}}x</span></span>
                                    {% if user and user.id != submission.created_by.id %}
                                    </a>
                                    {% endif %}
                                {% endfor %}
                                </span>
                                <span class = "add-vote-conatiner">
                                    {% if user and user.id != submission.created_by.id %}
                                    <h1 class = "add-vote-button" data-submission-id="{{ submission.id }}">+</h1>
                                    {% endif %}
                                    <div class="hidden-vote-box active" data-submission-id="{{ submission.id }}">
                                    {% if user and user.id != submission.created_by.id %}
                                        {% for category, _emoji in emoji.items() %}
                                            {% for name, description in _emoji.items() %}
                                                {% if name not in user_votes[submission.id] %}
                                                    <a class="vote-button" href="#" data-emoji="{{name}}" data-submission-id="{{submission.id}}" data-challenge-id="{{challenge.id}}">
                                                        <i class="emoji {{name}}" title="{{description}}"></i>
                                                    </a>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    {% endif %}
                                    </div>
                                </span>
                            </div>
                        </div>
                        <p>{{submission.description}}</p>
                        <a href="{{submission.link}}" role="button">Check It Out</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </section>

    <script>
        const userVotes=[];
        {% if user_votes %}
            {% for submission_id, emoji in user_votes.items() %}
            userVotes[{{submission_id}}]={{emoji|safe}};
            {% endfor %}
        {% endif %}
        async function vote(e){
            e.preventDefault()
            const submissionID=parseInt(this.getAttribute("data-submission-id"))
            const challengeID=parseInt(this.getAttribute("data-challenge-id"))
            const emoji=this.getAttribute("data-emoji")
            let method="POST"
            if(userVotes[submissionID] === undefined)
                userVotes[submissionID]=[]

            if(userVotes[submissionID].includes(emoji)) {
                method="DELETE"
                userVotes[submissionID].splice(userVotes[submissionID].indexOf(emoji))
            } else
                userVotes[submissionID].push(emoji)
            location.reload()
            await apiRequest(method, `/v1/challenges/${challengeID}/submissions/${submissionID}/vote`, {emoji: emoji})
        }

        document.querySelectorAll(".vote-button").forEach((btn) => {
            btn.addEventListener("click", vote.bind(btn))
        });
        const days_left_heading=document.getElementById("days-left");
        const progress_bar=document.getElementById("progress-bar");
        const start_date=new Date(progress_bar.getAttribute("data-start"));
        const end_date=new Date(progress_bar.getAttribute("data-end"));
        const total_days=Math.ceil((end_date - start_date)/86400000) + 1;
        const days_elapsed=Math.floor((Date.now() - start_date)/86400000);
        const add_vote_button = document.querySelectorAll(".add-vote-button")
        const hidden_vote_boxes = document.querySelectorAll(".hidden-vote-box");
        const days_left=total_days - days_elapsed;

        document.querySelectorAll(".leaderboard-progress-bar")
        .forEach(progress_bar => {
            const current_value = parseInt(progress_bar.getAttribute("value"));
            const max_value = parseInt(progress_bar.getAttribute("max"));
            const left_value = Math.round((current_value / max_value)*100) + 1;
            progress_bar.style.setProperty("--left", `${left_value}%`);
            }
        )

        add_vote_button.forEach((vote_button) => {
            vote_button.addEventListener("click", () => {
                const submission_id = vote_button.getAttribute("data-submission-id");
                const hidden_vote_box = document.querySelector(`.hidden-vote-box[data-submission-id='${submission_id}']`);
                hidden_vote_box.classList.toggle("active")
            });
        })

        progress_bar.value=days_elapsed.toString();
        progress_bar.max=total_days.toString();
        days_left_heading.textContent=days_left.toString();
    </script>
{% endif %}
{% include 'footer.html' %}
