#challenge-info {
    display: flex;
    justify-content: space-between;
    gap: 50px;

    >div {
        width: 100px;
        flex: 1
    }
}

#time-info {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin: 50px 0;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    padding: 25px 0;

    div>h1 {
        font-size: 4em;
        margin: 0
    }
}

#progress-bar-info {
    width: 50%;

    >div {
        display: flex;
        justify-content: space-between;
    }
}

.leaderboard-name {
    margin-bottom: 5px
}

.leaderboard-progress-bar {
    position: relative;
    display: flex;
    align-items: center;
    height: 25px;

    &:after {
        content: attr(value);
        position: absolute;
        color: white;
        left: var(--left)
    }
}

.submission {
    display: flex;
    margin-top: 50px;
    gap: 20px;

    >hgroup {
        display: flex;
    }
}

.left-submission {
    >img {
        width: 70px;
        border-radius: 50%;
    }
}

.right-submission {
    flex: 1;
}

.submission-top {
    width: 100%;
    display: flex;
    justify-content: space-between;

    >div {
        flex: 1
    }
}

.vote-button {
    &:hover {
        text-decoration: none;
    }

    >i {
        transition: transform 200ms cubic-bezier(0.55, 0.22, 0.61, 1.87);
    }

    >i:hover {
        transform: scale(1.2);
    }
}

.add-vote-button {

    display: inline-block;
    text-align: center;
    margin: 10px 10px;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
    font-size: 1.3rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

.add-vote-conatiner {
    position: relative;
}

.hidden-vote-box {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    background-color: #24333E;
    padding: 15px;
    border-radius: 10px;
}

.hidden-vote-box.active {
    display: none;
}